<div ng-show="section.reporters.length">
  <h2>{{ section.name }} Reporters</h2>
  <ul>
    <li ng-repeat="item in section.reporters">
      <strong>{{ item.name }}</strong> (Start Date: {{ item.employment}}; Birthday: {{ item.birthday }}
    </li>
  </ul>
</div>

<div id="addReporter">
  <h3>Assign a reporter to the {{ section.name }} section:</h3>
  <form ng-submit="addReporter()" class="form-inline" role="form">
    <div class="form-group">
      Employee Name: <input type="text" ng-model="reporterName" class="form-control" placeholder="Howard Beale" />
      <br />
      Start Date: <input type="text" ng-model="reporterEmployment" class="form-control" placeholder="mm-dd-yyyy" />
      <br />
      Birthday: <input type="text" ng-model="reporterBirthday" class="form-control" placeholder="mm-dd-yyyy" />
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-danger">Add Reporter</button>
  </form>
</div>
